body {
  margin: 2px;
  font-family: 'segoe ui', sans-serif;
}

.blockLink {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  background-color: #007272;
  font-size: 1em;
  font-weight: bold;
  color: white;
  width: 250px;
  height: 25px;
  padding: 2px;
  margin: 1px;
}

.blockLink:hover {
  background-color: rgb(40, 180, 130);
}

label {
  width: 100px;
  float: left;
}

input, textarea {
  width: 200px;
}

.rating {
  display: inline-block;
  width: 2em;
  margin: 0px 5px;
  text-align: center;
  font-weight: bold;
  font-size: large;
  background-color: coral;
  color: white;
}

